node_modules
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/frontend/node_modules
/frontend/.pnp
/frontend/.pnp.js

# testing
/frontend/coverage

# production
/frontend/build

# misc
/frontend/.DS_Store
/frontend/.env.local
/frontend/.env.development.local
/frontend/.env.test.local
/frontend/.env.production.local

/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*

/backend/__pycache__
/backend/.env

/infra/terraform/*.tfstate
/infra/terraform/*.tfstate.*
/infra/terraform/crash.log
/infra/terraform/*.tfplan
/infra/terraform/*.tfvars
/infra/terraform/*.tfvars.json
/infra/terraform/.terraform/
/infra/terraform/.terraform.lock.hcl
/infra/terraform/var/
